<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miniproject.nutritionapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NutritionApp">
        <activity
            android:name=".HomeActivities.ActivityFeedback"
            android:exported="false" />
        <activity
            android:name=".HomeActivities.ActivityProfile"
            android:exported="true" />
        <activity
            android:name=".HomeActivities.BMIResult"
            android:exported="false" />
        <activity
            android:name=".HomeActivities.BMICalculate"
            android:exported="false" />
        <activity
            android:name=".AdminActivities.ActivityAdminChat"
            android:exported="true" />
        <activity
            android:name=".HomeActivities.ActivityChat"
            android:exported="true" />
        <activity
            android:name=".ProfileFrags.ActivityPostRegistration"
            android:exported="true" />
        <activity
            android:name=".ActivitySplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivities.ActivityHome"
            android:exported="true" />
        <activity
            android:name=".LoginSignup.ActivitySignup"
            android:exported="true" />
        <activity
            android:name=".LoginSignup.ActivityLogin"
            android:exported="true" />
        <activity
            android:name=".LoginSignup.ActivityAuthentication"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>